img {
    max-height: 150px;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the space without distorting */
    display: block;
}

.price {
    font-weight: bold;
}

ion-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;

    &.hovered {
        background-color: rgba(0, 0, 0, 0.6); // Translucent black background on hover
        transform: scale(1.05); // Slight scale-up on hover
    }

    ion-card-title,
    ion-card-subtitle,
    h3,
    h2,
    p {
        color: black; // Default text color
        transition: color 0.3s ease; // Smooth transition for text color
    }

    &.hovered {
        ion-card-title,
        ion-card-subtitle,
        h3,
        h2,
        p {
            color: white; // Change text color to white on hover
        }
    }

    &.hovered .add-to-order-btn {
        opacity: 1; // Make the button visible on hover
        transform: translateY(0); // Move the button into view
    }
}
